<h2>CHECKOUT</h2>
<% if (typeof errors !== 'undefined') { %>
    <% for (let i=0; i<errors.length; i++) {%>
        <div class="error"><%= errors[i] %></div>
    <% } %>
<% } %>

<% if (typeof success !== 'undefined') { %>
    <% for (let i=0; i<success.length; i++) {%>
        <div class="success"><%= success[i] %></div>
    <% } %>
<% } %>